<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0 text-light">
      {{ 'ABOUT.TITLE' | translate }}
    </h1>
    <div class="subheading mb-5 text-light">
      {{ 'ABOUT.SUBTITLE' | translate }}
    </div>
    <p class="mb-5 text-white" style="max-width: 500px;">
      {{ 'ABOUT.DESCRIPTION' | translate }}
    </p>
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://wa.me/528333035269" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://mail.google.com/mail/u/0/?fs=1&to=roberto.martinez.loredo@gmail.com&su=Asunto&body=Mensaje&tf=cm" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/roberto-carlos-martinez-loredo-5a39b3127/" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/rocamalo" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!-- <li class="list-inline-item">
        <a href="https://www.facebook.com/robertocarlos.martinezloredo" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li> -->
    </ul>
  </div>
</section>
